PORT=8080
JWT_SECRET=replace_with_shared_secret
INTERNAL_API_SECRET=internal_bootstrap_ds_ass1
AUTH_SERVICE_URL=http://auth-service:4001
PATIENT_SERVICE_URL=http://patient-service:4002
DOCTOR_SERVICE_URL=http://doctor-service:4003
APPOINTMENT_SERVICE_URL=http://appointment-service:4004
TELEMEDICINE_SERVICE_URL=http://telemedicine-service:4005
PAYMENT_SERVICE_URL=http://payment-service:4006
NOTIFICATION_SERVICE_URL=http://notification-service:4007
AI_SERVICE_URL=http://ai-service:4008
