PORT=4001
MONGO_URI=mongodb://localhost:27017/auth_db
JWT_SECRET=replace_with_shared_secret
DEFAULT_ADMIN_EMAIL=admin@hospital.local
DEFAULT_ADMIN_PASSWORD=Admin@123
DOCTOR_SERVICE_URL=http://localhost:4003
INTERNAL_API_SECRET=internal_bootstrap_ds_ass1
